{% extends "base.html" %}

{% block content %}
        <div class="container">
                <h1>Add CLASS</h1>
                <br>
                <form action="" method="post">
                        <div class="form-group">
                        <input type="text" placeholder="nom de ta classe" name="classname" value="{{ request.form.classname }}">
                        </div>
                	<div class="form-group">
				<select name="origin">
  					<option value="1">francais</option>
					<option value="-10">allemand</option>
					<option value="2">anglais</option>
					<option value="125">mandarin simplifie</option>
				</select>
                        </div>

			<div class="form-group">
				<select name="foreign">
					 <option value="1">francais</option>
					 <option value="-10">allemand</option>
					 <option value="2">anglais</option>
					 <option value="125">mandarin simplifie</option>

				</select>
                        </div>

                        <button class="btn btn-primary" type="submit">Add CLASS</button>
                </form>

                {% if error %}
                <p class="error"><strong>Error:</strong> {{ error }}</p>
                {% endif %}
                {% if msg %}
                <p class="msg">{{ msg }}</p>
                {% endif %}
        </div>
{% endblock %}

