{% extends "base.html" %}
  
{% block content %}
        <div class="container">
                <h1>Add List</h1>
                <br>
                <form action="" method="post">

                        <div class="form-group">
                        <input type="text" placeholder="nom de la liste" name="list" value={{ request.form.list_name }}>
                        </div>

			<p> Dans quelle classe : </p>

			<div class="form-group">
                                <select name="class_name">
                                {% for class in classes %}
                                        <option value="{{ class.class_name }}">{{ class.class_name }}</option>
                                {% endfor %}
                                </select>
                        </div>

                        <button class="btn btn-primary" type="submit">Add Lists</button>
                </form>
                {% if error %}
                <p class="error"><strong>Error:</strong> {{ error }}</p>
                {% endif %}
                {% if msg %}
                <p class="msg">{{ msg }}</p>
                {% endif %}
        </div>
{% endblock %}
~

