{% extends "base.html" %}

{% block content %}
        <div class="container">
                <h1>Add Languages</h1>
                <br>
                <form action="" method="post">
                        <div class="form-group">
                        <input type="text" placeholder="langue" name="newl" value="{{ request.form.name }}">
                        </div>
                        <button class="btn btn-primary" type="submit">Add Languages</button>
                </form>
                {% if error %}
                <p class="error"><strong>Error:</strong> {{ error }}</p>
                {% endif %}
                {% if msg %}
                <p class="msg">{{ msg }}</p>
		{% endif %}
        </div>
{% endblock %}
~                                                                                                  
~                                                                                                  
~                                                                                                  
~                                                                                                  
~                                                                                                  
~                        
