{% extends "base.html" %}

{% block content %}
	<div class="container">
		<h1>Add User</h1>
      		<br>
      		<form action="" method="post">
			<div class="form-group">
			<input type="text" placeholder="First Name" name="firstname" value="{{ request.form.firstname }}">
			</div>
			<div class="form-group">
			<input type="text" placeholder="Last Name" name="lastname" value="{{ request.form.lastname }}">
			</div>
			<div class="form-group">
			<input type="text" placeholder="Email" name="email" value="{{ request.form.email }}">
			</div>
			<div class="form-group">
			<input type="text" placeholder="Username" name="username" value="{{ request.form.username }}">
			</div>
			<div class="form-group">
			<input type="password" placeholder="Password" name="password" value="{{ request.form.password }}">
			</div>
			<div class="form-group">
			<select name="role">
  				<option value="0">Admin</option>
  				<option value="1">Professeur</option>
  				<option value="2">Elève</option>
			</select> 
			</div>
			<button class="btn btn-primary" type="submit">Add User</button>
		</form>
		{% if error %}
		<p class="error"><strong>Error:</strong> {{ error }}</p>
		{% endif %}
		{% if msg %}
		<p class="msg">{{ msg }}</p>
		{% endif %}
	</div>
{% endblock %}
