{% extends "base.html" %}
  
{% block content %}
        <div class="container">
                <h1>Tu as eu une erreur, <b>{% if session['username'] %} {{ session['username'] }} {% else %} Guest {% endif %}</b>!</h1>
                <br>
                {% if error %}
                        <p class="error"><strong>Error:</strong> {{ error }}</p>
                {% endif %}
		<br>
		<div align="center">
				<img width="38%" height="55%" src="https://2.bp.blogspot.com/-gWQaGPwFmac/WLsJNkaGfCI/AAAAAAAAU-4/S6Wk31mK-HIsnqJ4NfENsy9szD0F9zLeQCLcB/s1600/facepalm-emoticon.png" alt="facepalm"
			
		</div>
        </div>
{% endblock %}
