{% extends "base.html" %}
{% block content %}
	<div class="container">

			<font face="verdana" size="16"><h1><center><div><p>Pas encore inscrit sur chaizlet ? Qu'est-ce que tu attends ?</p></div></center></font></h1>
			<font size="12"><div align="center">Chaizlet est une app révolutionnaire inaugurant un tout nouveau type de réseau social !</p></div></font>
			<hr size= 6 color = "black">
			<br>
			<font face="verdana" size="6"><div align="center"><b>Grâce à cette nouvelle méthode, plus besoin de flashcards ou de listes ennuyeuses faites à la main !<br> Tu peux tout apprendre depuis ton smartphone !</b></p></div></font></b>
			<div align="center"><img src="http://assets-news-bcdn-ll.dailyhunt.in/cmd/resize/400x400_60/fetchdata13/images/12/82/1f/12821f4bc07c6693e4b971192d34f11d.jpg" width =25% height =32% alt="Image apprentissage dans la douleur"/></div>
			<font face="verdana" size="6"><div align="center"><b><br>Fait partie de classes pour avoir accès à toutes leurs listes de voc <br>Tout est disponible en ligne directement !</p></div></font>
			<div align="center"><img src="https://cdn.radiofrance.fr/s3/cruiser-production/2019/04/75360e2c-7a2b-4da0-8c8c-a6b52ba3e0f9/640_000_par8260318.jpg" width =25% height =32% alt="Image salle de classe"/></div>
			<font face="verdana" size="6"><div align="center"><b><br>Crée un lien spécial avec tes professeurs et tes camarades <br> en apprenant tous les jours !</p></div></font>	
			<div align="center"><img src="https://i.pinimg.com/originals/b1/fe/cf/b1fecf5bdf45b20488229f44051ade69.jpg" width =25% height =22% alt="Image cerveau échangesque"/> </div>

			</body>
	</div>
{% endblock %}
