{% extends "lol.html" %}
  
{% block content %}
        <div class="container">
                <h1>List of words</h1>
                <br>
                <table class="table">
                <thead>
                <tr><td><strong>origin language</strong></td><td><strong>foreign language</strong></td>
                </thead>
                <tbody>
                {% for word in words %}
                <tr>
                        <td> {{ word.word_origin }} </td> <td> {{ word.word_foreign }}</td>
                </tr>
                {% endfor %}
                </tbody>
                </table>
        </div>
{% endblock %}
