{% extends "lol.html" %}
  
{% block content %}
        <div class="container">
		{% for title in title %}
                <h1> {{title.list_name}} </h1>
		{% endfor %}
                <br>
                <table class="table">
                <thead>
		{% for origin in origin %}
		{% for foreign in foreign %}
                <tr><td><strong> {{ origin.language_origin_id }} </strong></td><td><strong> {{ foreign.language_foreign_id }}</strong></td>
		{% endfor %}
		{% endfor %}
                </thead>
                <tbody>
		{% for word in words %}
                <tr>
                        <td> {{ word.word_origin }} </td> <td> {{ word.word_foreign }}</td>
                </tr>
                {% endfor %}
                </tbody>
                </table>
        </div>
{% endblock %}
